/* ===================================== */
/* ============= SALON CSS ============= */
/* ===================================== */

.salon-background{
  background-color: white;
}

.passcode{
  height: 700px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.number-box{
  height: 80px;
  border: 1px solid white;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.input-box{
  height: 70px;
  border-radius: 20px;
  margin-top: 30px;
  border: 5px solid #3b5998;
}

.input-box-error{
  height: 70px;
  border-radius: 20px;
  margin-top: 30px;
  border: 5px solid #a94442;
}

.b-1{
  border: 1px solid black;
}

.enter-passcode, .clear-passcode{
  height: 80px;
  color: white;
  margin-top: 25px;
  border-radius: 20px;
  cursor: pointer;
}

.clear-passcode{
  background-color: #a94442;
}

.enter-passcode{
  background-color: #3b5998;
}

.l-s-5{
  letter-spacing: 5px;
}

.name-box{
  height: 70px;
  background: #eaeaee;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.name-box-selected{
  height: 70px;
  background: #3b5998;
  border-radius: 20px;
  margin: 10px 0px; 
  color: white;
  cursor: pointer;
}


/* ======================================= */
/* ============= SERVICE CSS ============= */
/* ======================================= */

.top-banner{
  min-height: 200px;
  padding: 10px 0px;
  margin-top: 10px;
}

.done-session{
  height: 80px;
  background-color: #3b5998;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.service-item{
  height: 100px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  background-color: #809ae5;
}

.back-btn{
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  border-top: 40px solid transparent;
  border-right: 80px solid #3b5998;
  border-bottom: 40px solid transparent;
  z-index: 10;
  cursor: pointer;
}

.remove-btn{
  background: #a94442;
  height: 45px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.remove-btn .glyphicon-remove{
  font-size: 37px;
  padding: 4px;
}

.receipt-total{
  background-color: #47b049;
  color: white;
}

